* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #f1f1f1;
}

.header-principal {
  height: 80px;
  width: 100%;
  background: #ed0707;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 110px;
  margin-left: 40px;
  cursor: pointer;
}

.menu-principal {
  width: 450px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
  margin-top: 18px;
}

.menu-principal li {
  list-style: none;
  font-size: 20px;
}

.menu-principal a {
  text-decoration: none;
  font-weight: 700;
  color: #ffffff;
  transition: 0.4s;
}

.menu-principal a:hover {
  color: black;
  font-weight: 900;
}

.container {
  max-width: 1300px;
  margin: auto;
}

.campo-pesquisa {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.filtro {
  width: 120px;
  height: 35px;
  text-align: center;
  border-radius: 8px 0px 0px 8px;
  cursor: pointer;

  background: #d9d9d9;

  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.form-pesq input {
  width: 350px;
  height: 35px;
  padding-left: 10px;
  font-size: 16px;
  background: #ffffff;
  border-radius: 0px 8px 8px 0px;

  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.form-pesq button {
  width: 120px;
  height: 35px;
  cursor: pointer;
  background: #ed0707;
  color: #ffffff;
  font-weight: 600;
  border-radius: 8px;
  margin-left: 15px;
  transition: 0.4s;

  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.form-pesq button:hover {
  background: #ed070777;
}

.informacoes_aluno_alunos {
  width: 96%;
  min-width: 600px;
  margin: auto;
  margin-top: 10px;
}

.tabela_informacoes {
  background: #d9d9d9;
}

.tabela_informacoes td {
  text-align: center;
  height: 50px;
  width: 150px;
}

.dados_do_aluno {
  background: #eeebeb;
}

.dados_do_aluno td {
  height: 50px;
  text-align: center;
  border-top: 1px solid black;
}

td.semana {
  width: 60px;
}

.status_ativo {
  width: 90px;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 20px;
  margin: auto;
  background: #19d72c;
}

.status_cancelado {
  width: 90px;
  padding: 10px;
  color: #ffffff;
  font-weight: 700;
  border-radius: 20px;
  margin: auto;
  background: #ed0707;
}

.containeradduser {
  display: flex;
  justify-content: right;
}

.adduser {
  margin-top: 60px;
  margin-right: 28px;
  padding: 10px;
  width: 140px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  background: #ed0707;
  font-weight: 700;

  transition: 0.4s;
}

.adduser:hover {
  background: rgba(233, 67, 67, 0.815);
}
